body{
    background-color: rgb(255, 255, 255);
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.sign-in{
    font-size: 36px;
    font-weight: lighter;
}

.form-container {
    width: 50%;
    margin: 0 auto;
}
  
form {
    border: 1px solid lightgrey;
    width:400px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 20px;
    font-family: sans-serif ;
    font-weight: lighter;
    margin: auto;
    
}

.button {
    border: 1px solid;
    border-color: rgb(145, 80, 15);
    width: 400px;
    height: 38px;
    background-color: rgb(245, 196, 72);
    color: black;
    font-size: 16px;
    border-radius: 1px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 100;
    
}

button:hover{
    background-color: rgb(70, 205, 86);
    color: rgb(253, 253, 253);
}
  
  .button2 {
    border: 1px solid;
    border-color: rgb(176, 174, 174);
    width: 400px;
    height: 38px;
    background-color: white;
    color: black;
    font-size: 16px;
    border-radius: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.horizontal {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

  
h2 {
     width: 350px; 
     text-align: center; 
     border-bottom: 1px solid #0006; 
     line-height: 0.1em;
     font-weight: 100;
     font-size: 20px;
     color: #6b6b6b;
     font-family: sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
} 
  
h2 span { 
      background:#fff; 
      padding:0 10px; 
      
}
  
.help{
    color: rgb(25, 127, 190);
    margin-left: 20px;
    cursor: pointer;
}

.help:hover{
    color: rgb(235, 101, 101);
}

#bx{
    width: 390px;
    height: 28px;
    font-size: 13.5pt;
    border: 1px solid;
    border-color: black;
    background-color: white;
    color: black;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: lighter;
}
.conditions{
    text-align: center;
    color:rgb(25, 127, 190);
    font-family: sans-serif;
    font-weight: 100;
    font-size: 14px;
}
  
.footer{
   text-align: center;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 14px;
}
